@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --vertex-size: 24px;
  --primary: #f87b1b;
  --background: #101524;
  --secondary: #1F2947;
  background-color: var( --background );
  overflow: hidden;
}

ul{
  list-style: none;
}

*::-webkit-scrollbar {
  width: 0.3em;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var( --primary );
}