@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --vertex-size: 24px;
  --primary: #F1812D;
  --background: #101524;
  --secondary: #1F2947;
  background-color: var( --background );
}

ul{
  list-style: none;
}